header {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}

header img {
    margin-top: -5px;
    float: left;
}

header nav ul {
    float: right;
    display:flex;
    padding-right: 20px;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    padding-right:10px;
}

body {
    background-image: url(../img/pattern.jpg);
}

section {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 900px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

section a {
    text-decoration: none;
}

section h1 {
    text-align: center;

}

section p {
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}



footer {
    background-color: black;
    width: 100%;
    height: max-content;
}

footer h5 {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
   
}